
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/desafio01.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img class="logo" src="../static/images/logo.png" alt="logo">
            <a href="contato.html">Contato</a>
            <a href="quemsomos.html">Quem somos</a>
            <a href="home.html">Home</a>
        </div>
       
            {% block conteudo %}

            {% endblock %}

        <h3>Todos os direitos reservados</h3>
    
    </div>


    
</body>
</html>