
{% extends"base.html"  %}


{% block conteudo %}
    <div class="contato">
        <h2>Entre em contato</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sapiente quasi debitis nostrum perferendis repellat obcaecati similique, quae quisquam necessitatibus distinctio doloribus adipisci incidunt, autem tempora qui eos nesciunt explicabo</p>
        <hr>
        <div class="form">
            <form method="post" action="/contatos">
                <input type="text" name="email" placeholder="Seu Email">
                <input type="text" name="assunto" placeholder="Assunto">
                <input type="text" name="descricao" placeholder="Descrição">
                <input type="submit"value="Enviar">
            </form>
        </div>
{% endblock %}