{% extends"base.html"  %}


{% block conteudo %}
    <img class="img-fundo" src="../static/images/fundo.png" alt="">
    <h1>Sobre a Universidade</h1>
     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ullam eveniet consectetur delectus dignissimos et in quidem, fugiat aut eum. Consequatur accusantium, placeat minus laborum sequi sed consectetur minima nobis.
    </p>
    <br>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit eligendi vel mollitia nobis, tenetur nemo! Qui a nemo, neque sequi repudiandae unde sit adipisci possimus perspiciatis ab hic. Alias, asperiores!
        
    </p>
{% endblock %}

