



{% block conteudo %}
    <div class="quem-somos">
        <h2>Quem Somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sit cumque labore animi, aliquam totam nulla ut distinctio pariatur iusto numquam mollitia dignissimos quis rem? Natus eaque impedit in maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi accusamus et inventore a perferendis qui, explicabo aspernatur id, tempore quisquam molestiae fugit temporibus officiis ipsum, dolor error. Voluptas, quia esse!</p>
        <h2>5 Motivos para Estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Salas bem avaliadas</li>
            <li>Ótima localização</li>
        </ol>
        <hr>
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sit nihil vero saepe voluptatem, eaque iure aspernatur laborum. Molestiae ratione est illum provident deserunt voluptas eveniet tenetur ipsam nesciunt sed?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi provident odit, odio architecto quisquam a eius culpa neque error, veritatis illum, incidunt asperiores distinctio molestiae voluptas ad sed voluptatibus ipsam.</p>
    </div>
{% endblock %}